


body{

 font-family: 'Archivo';
 background-color: #F7F7F7;

}

.nav li{
   text-align:center;
   padding:10px;
   margin:5px auto;
   width:90%;
   background-color: white;


}

.nav{
   margin-bottom: 40px;
}


#profile img{

margin: auto;
max-width: 80%;
text-align: center;
}


#introduction {

width:80%;
margin:10px auto;
float:none;

}
.container{
margin: auto;
max-width: 90%

}
h1 , h2 {

color: black;
text-align: center;
}

h2{
padding: 20px 10px;

}

img{
max-width: 100%;
margin: auto;

}

a {
text-decoration: none;
text-align: center;
padding: 10px;
color: black;


}

p {
text-align: center;
line-height: 1.5em;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
font-weight: bold;


}

#contactinfo{
background-color: #F2F2F2;
margin:40px auto;
width: 80%;
padding:20px;
border-bottom: 1px solid gray;
}


.bottomnav{
float:left;
font-size: 1em;
margin-left: 20px;

}

.bottomnav2{
float:right;
font-size: 1em;

}

.hiddenMenu{
   display:none;
}

@media screen and (min-width: 768px) {
    

    .nav ul{
      width:60%;
      margin: 10px auto;
      text-align: center;
    }

    .nav li{
      display: inline;
      background-color: #F7F7F7;
    }

    .container{
      float:right;
      margin-right:20px;
    }

    #introduction{
      float:left;
      width:50%;
      margin:0px 0px 0px 20px;
      font-size:1em;

    }

    #title{
      clear:both;
    }

    .webportfolio{
      width:45%;
      float:left;
      margin: 10px 20px;
    }

    #contactinfo{
      clear:both;
    }

    .hidden{
      display:none;
    }

    .hiddenMenu{
   display:block;
   float:right;
   }

   .hiddenMenu li{
      display: inline;
      margin: 10px;

   }

   p{
      font-size: 1.5em;
   }

   #introduction p{
      text-align:left;
    }


}

@media screen and (min-width: 1024px) {
   .webportfolio{
      width:30%;
      float:left;
      margin: 10px 10px;
    }

    .nav{
      float:right;
      margin-top: 20px;
    }
    .nav ul{
    display: inline;
   
    padding-top: 20px;
    }

    .nav li{
      display: inline;
      margin:10px;
      padding:10px;
    }
    .container{
      clear:both;
      margin-top: 20px;
    }
    #nameLeft{
      float: left;
      margin-left:20px;
    }
    #introduction p{
      text-align:left;
      margin-left:20px;
    }
}